@model WebApplication3.Models.usermodel
@{
    ViewBag.Title = "Home Page";
}

<br />
<p>Calender</p>
<div id="ddlyear">
   @Html.DropDownList("SelectedItem", Model.ListItems, "Select a month")
</div>
